<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ronalxie.mapper.ArticleMapper">
  <resultMap id="BaseResultMap" type="com.ronalxie.model.article.ArticleBaseEntity">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="summary" jdbcType="VARCHAR" property="summary" />
    <result column="cover" jdbcType="VARCHAR" property="cover" />
    <result column="views" jdbcType="INTEGER" property="views" />
    <result column="top" jdbcType="TINYINT" property="top" />
    <result column="category_id" jdbcType="BIGINT" property="categoryId" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="delete_time" jdbcType="TIMESTAMP" property="deleteTime" />
  </resultMap>

  <resultMap id="BaseInfoMap" type="com.ronalxie.model.article.ArticleInfoEntity" extends="BaseResultMap">
    <result column="content" jdbcType="LONGVARCHAR" property="content"/>
<!--    <association property="category" javaType="com.ronalxie.model.category.CategoryEntity">-->
<!--      <result column="category_id" property="id"/>-->
<!--      <result column="category_name" property="name"/>-->
<!--      <result column="category_count" property="count"/>-->
<!--    </association>-->
  </resultMap>
<!--  <resultMap id="BaseInfoMap" type="com.ronalxie.model.article.ArticleInfoEntity" extends="BaseResultMap">-->
<!--    <association property="category" javaType="com.ronalxie.model.category.CategoryEntity">-->
<!--      <result column="category_id" property="id"/>-->
<!--      <result column="category_name" property="name"/>-->
<!--      <result column="category_count" property="count"/>-->
<!--    </association>-->
<!--    <collection property="tags" ofType="com.ronalxie.model.tag.TagEntity">-->
<!--      <result column="tag_id" property="id"/>-->
<!--      <result column="tag_name" property="name"/>-->
<!--      <result column="tag_count" property="count"/>-->
<!--    </collection>-->
<!--  </resultMap>-->
  <sql id="Base_Column_List">
    id, title, summary, cover, views, top, category_id, user_id, create_time,
    update_time, delete_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from article
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from article
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.ronalxie.model.article.ArticleBaseEntity">
    insert into article (id, title, summary,
    cover, views,
      top, category_id, user_id, 
      create_time, update_time, delete_time
      )
    values (#{id,jdbcType=BIGINT}, #{title,jdbcType=VARCHAR}, #{summary,jdbcType=VARCHAR},
       #{cover,jdbcType=VARCHAR}, #{views,jdbcType=INTEGER},
      #{top,jdbcType=TINYINT}, #{categoryId,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{deleteTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ronalxie.model.article.ArticleBaseEntity">
    insert into article
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="summary != null">
        summary,
      </if>
      <if test="cover != null">
        cover,
      </if>
      <if test="views != null">
        views,
      </if>
      <if test="top != null">
        top,
      </if>
      <if test="categoryId != null">
        category_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="deleteTime != null">
        delete_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="summary != null">
        #{summary,jdbcType=VARCHAR},
      </if>
      <if test="cover != null">
        #{cover,jdbcType=VARCHAR},
      </if>
      <if test="views != null">
        #{views,jdbcType=INTEGER},
      </if>
      <if test="top != null">
        #{top,jdbcType=TINYINT},
      </if>
      <if test="categoryId != null">
        #{categoryId,jdbcType=BIGINT},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteTime != null">
        #{deleteTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ronalxie.model.article.ArticleBaseEntity">
    update article
    <set>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="summary != null">
        summary = #{summary,jdbcType=VARCHAR},
      </if>
      <if test="cover != null">
        cover = #{cover,jdbcType=VARCHAR},
      </if>
      <if test="views != null">
        views = #{views,jdbcType=INTEGER},
      </if>
      <if test="top != null">
        top = #{top,jdbcType=TINYINT},
      </if>
      <if test="categoryId != null">
        category_id = #{categoryId,jdbcType=BIGINT},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteTime != null">
        delete_time = #{deleteTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ronalxie.model.article.ArticleBaseEntity">
    update article
    set title = #{title,jdbcType=VARCHAR},
      summary = #{summary,jdbcType=VARCHAR},
      cover = #{cover,jdbcType=VARCHAR},
      views = #{views,jdbcType=INTEGER},
      top = #{top,jdbcType=TINYINT},
      category_id = #{categoryId,jdbcType=BIGINT},
      user_id = #{userId,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      delete_time = #{deleteTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectAllInfo" resultMap="BaseInfoMap">
    SELECT
      a.id,
      a.title,
      a.summary,
      a.cover,
      a.views,
      a.top,
      a.user_id,
      a.category_id,
      c.content,
      a.create_time,
      a.update_time,
      a.delete_time
    from article a left join content c on a.id=c.article_id
    where 1=1
    <if test="id != null">
      and a.id=#{id,jdbcType=BIGINT}
    </if>
    <if test="title != null">
      and a.title like concat('%'#{title},'%')
    </if>
    <if test="top != null">
      and a.top=#{top,jdbcType=TINYINT}
    </if>
    <if test="createTime != null">
      and a.create_time=#{createTime}
    </if>
    <if test="updateTime != null">
      and a.update_time=#{createTime}
    </if>
    <if test="deleteTime != null">
      and a.delete_time=#{deleteTime}
    </if>
  </select>
</mapper>