<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ronalxie.mapper.AttachmentMapper">
    <resultMap id="BaseResultMap" type="com.ronalxie.model.attachment.AttachmentEntity">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="bucket" jdbcType="VARCHAR" property="bucket"/>
        <result column="type" jdbcType="VARCHAR" property="type"/>
        <result column="size" jdbcType="VARCHAR" property="size"/>
        <result column="url" jdbcType="VARCHAR" property="url"/>
        <result column="user_id" jdbcType="BIGINT" property="userId"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="delete_time" jdbcType="TIMESTAMP" property="deleteTime"/>
    </resultMap>
    <sql id="Base_Column_List">
        id
        , `name`, bucket, `type`, `size`, url, user_id, create_time, update_time, delete_time
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from attachment
        where id = #{id,jdbcType=BIGINT}
    </select>
    <select id="selectAllList" parameterType="com.ronalxie.model.attachment.AttachmentEntity" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from attachment where 1=1
        <if test="name!=null">
            and name like concat('%',#{name},'%')
        </if>
        <if test="bucket!=null">
            and bucket=#{bucket}
        </if>
        <if test="type!=null">
            and type=#{type}
        </if>
        <if test="createTime!=null">
            and create_time=#{createTime}
        </if>
        order by create_time desc
    </select>


    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete
        from attachment
        where id = #{id,jdbcType=BIGINT}
    </delete>
    <insert id="insert" parameterType="com.ronalxie.model.attachment.AttachmentEntity">
        insert into attachment (id, name, bucket,
                                type, size, url, user_id,
                                create_time, update_time, delete_time)
        values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{bucket,jdbcType=VARCHAR},
                #{type,jdbcType=VARCHAR}, #{size,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR}, #{userId,jdbcType=BIGINT},
                #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{deleteTime,jdbcType=TIMESTAMP})
    </insert>
    <insert id="insertSelective" parameterType="com.ronalxie.model.attachment.AttachmentEntity">
        insert into attachment
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="bucket != null">
                bucket,
            </if>
            <if test="type != null">
                type,
            </if>
            <if test="size != null">
                size,
            </if>
            <if test="url != null">
                url,
            </if>
            <if test="userId != null">
                user_id,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="deleteTime != null">
                delete_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="bucket != null">
                #{bucket,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                #{type,jdbcType=VARCHAR},
            </if>
            <if test="size != null">
                #{size,jdbcType=VARCHAR},
            </if>
            <if test="url != null">
                #{url,jdbcType=VARCHAR},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=BIGINT},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="deleteTime != null">
                #{deleteTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.ronalxie.model.attachment.AttachmentEntity">
        update attachment
        <set>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="bucket != null">
                bucket = #{bucket,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                type = #{type,jdbcType=VARCHAR},
            </if>
            <if test="size != null">
                size = #{size,jdbcType=VARCHAR},
            </if>
            <if test="url != null">
                url = #{url,jdbcType=VARCHAR},
            </if>
            <if test="userId != null">
                user_id = #{userId,jdbcType=BIGINT},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="deleteTime != null">
                delete_time = #{deleteTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.ronalxie.model.attachment.AttachmentEntity">
        update attachment
        set name        = #{name,jdbcType=VARCHAR},
            bucket      = #{bucket,jdbcType=VARCHAR},
            type        = #{type,jdbcType=VARCHAR},
            size        = #{size,jdbcType=VARCHAR},
            url         = #{url,jdbcType=VARCHAR},
            user_id     = #{userId,jdbcType=BIGINT},
            create_time = #{createTime,jdbcType=TIMESTAMP},
            update_time = #{updateTime,jdbcType=TIMESTAMP},
            delete_time = #{deleteTime,jdbcType=TIMESTAMP}
        where id = #{id,jdbcType=BIGINT}
    </update>
</mapper>